body {
    background-color: white;
  }

footer {
    font-size: 10;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}
.top {
    text-align: center;
}

.top img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.comic-container {
    text-align: center;
}

.comic-nav img {
    max-width: 75px;
}

.comic-img img {
    max-width: 500px;
}

.sharing {
    text-align: center;
}