body {
    background-color: white;
    text-align: center;
  }
  
p {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

footer {
    font-size: 10;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.top img {
    max-width: 100%;
    min-width: 100px;
    height: auto;
}

.comic-nav img {
    max-width: 75px;
}

.comic-img img {
    max-width: 500px;
    height: auto;
}

.sharing {
    line-height: 10px;
}

.img-grid {
    margin: auto;
    display: grid;
    grid-gap: 5px;
    max-width: 500px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.img-grid img {
    max-width: 150px;
}

@media only screen and (max-width: 768px) {
    .comic-img img {
        max-width: 100%;
    }
  }